﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="TeineVeeb.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
<h1>Teen siia midagi uut</h1>

    <asp:ListBox ID="ListBox1" runat="server" AutoPostBack="true">
        <asp:ListItem Text ="Sebra">Sebra</asp:ListItem>
        <asp:ListItem Text ="Kaamel">Kaamel</asp:ListItem>
        <asp:ListItem Text ="Jõehobu" Selected="True">Jõehobu</asp:ListItem>
        <asp:ListItem Text ="Paeluss">Paeluss</asp:ListItem>

    </asp:ListBox>

    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>

</asp:Content>
